%h1 Listing plasmid_batch_qc_attachements

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @plasmid_batch_qc_attachements.each do |plasmid_batch_qc_attachement|
      %tr
        %td= link_to 'Show', plasmid_batch_qc_attachement
        %td= link_to 'Edit', edit_plasmid_batch_qc_attachement_path(plasmid_batch_qc_attachement)
        %td= link_to 'Destroy', plasmid_batch_qc_attachement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plasmid batch qc attachement', new_plasmid_batch_qc_attachement_path
