<div class="row">
	<div class="col-lg-12">
		<h3>Edit Virus #<%=@virus_production.number%></h3>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<%= render 'virus_productions/components/form'%>
			</div>
		</div>
	</div>
</div>