<% provide(:title, "Virus Inventory") %>
<%= render :partial => 'virus_productions/components/vp_searchbar' %>
<div class="row">
	<small>
	<div class="col-lg-3 col-lg-offset-9 text-right">
		<div id="display-all-container">	<%= render :partial => "virus_productions/components/toggle_display_all", :locals => { :option => @option } %>	</div>
		<div id="display-limited-container">	<%= render :partial => "virus_productions/components/toggle_display_limited", :locals => { :option => @option } %>	</div>
	</div>
	</small>
</div>
<%= smart_listing_render(:virus_productions) %>
