<% provide(:title, "Virus Inventory") %>
<%= render :partial => 'virus_productions/components/vp_searchbar' %>
<!-- -->
<div class="row">
	<div class="col-lg-4 pull-left">
		<div id="display-all-container">
			<%= render :partial => "virus_productions/components/toggle_display_all", :locals => { :option => @option } %>
		</div>
	</div>
	<div class="col-lg-2 pull-right">
  			<%= link_to "Export to csv", virus_productions_path(request.params.merge({format: 'csv'}))%>
  	</div>
  </div>
<%= smart_listing_render(:virus_productions) %>
