<div class="modal fade" id="qc-modal" role="dialog" aria-labelledby="qc-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="qc-label"></h4>
      </div>
      <div class="modal-body" style="overflow:hidden" id="inner-qc-modal">
      </div>
      <div class="modal-footer" id="qc-buttons">
      </div>
    </div>
  </div>
</div>