<div class="modal fade" id="assay-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" style="overflow:hidden" id="inner-assay-modal">
      </div>
      <div class="modal-footer" id="myModalButtons">
      </div>
    </div>
  </div>
</div>