<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-pills prod">
			<%= setProdLinktoActive("productions", "Creation", :edit, edit_production_path) %>
			<%= setProdLinktoActive("productions", "Add plasmid", :add_plasmid, add_plasmid_production_path) %>
			<%= setProdLinktoActive("productions", "Production of virus", :virus_production, virus_production_production_path) %>
		</ul>
	</div>
	
</div>
