<div class="panel">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<%=select_tag "Box", options_from_collection_for_select(Box.all, "id", "name"), :class => 'select2-select', include_blank: true%>
			<div id="map-container">
			</div>
			</div>
		</div>
	</div>
</div>