%h1 Listing clone_batch_users

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @clone_batch_users.each do |clone_batch_user|
      %tr
        %td= link_to 'Show', clone_batch_user
        %td= link_to 'Edit', edit_clone_batch_user_path(clone_batch_user)
        %td= link_to 'Destroy', clone_batch_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clone batch user', new_clone_batch_user_path
