%h1 Listing box_formats

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @box_formats.each do |box_format|
      %tr
        %td= link_to 'Show', box_format
        %td= link_to 'Edit', edit_box_format_path(box_format)
        %td= link_to 'Destroy', box_format, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Box format', new_box_format_path
