<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The plan has changed!, |subme|!</h1>
    <p>The clonings has changed. Please check the <a href = "https://nameless-ravine-16962.herokuapp.com/assays">page</a></p>
  </body>
</html>