<% if clone.clone_batches.where.not(:name=>nil).empty?%>
			<p>No plasmid to display</p>
<%else%>
<table class="table table-striped table-bordered table-condensed" id="clone-table">
			<thead>
				<th class="text-center">Name</th>
				<th class="text-center">plasmid number</th>
				<th class="text-center">Info</th>
				<th class="text-center">Action</th>
			</thead>
				<% clone.clone_batches.where.not(:name=>nil).order(:id).each do |cb| %>
				<%= content_tag "div", id: "clone_batch_data_id", data:{clone_batch_data_id: cb.id} do %><%end%>
					<tr id = "clone-batch-info-container<%=cb.id%>">
						<%= render :partial => "clone_batches/components/content", :locals => {:cb => cb, :clone => clone, :clone_id => clone.id, :clones => @clones, :assay => @assay, :cb_collection => @cb_collection} %>
					</tr>
				<% end %>
</table>
<% end %>