%h1 Listing plasmid_batch_qc_batches

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @plasmid_batch_qc_batches.each do |plasmid_batch_qc_batch|
      %tr
        %td= link_to 'Show', plasmid_batch_qc_batch
        %td= link_to 'Edit', edit_plasmid_batch_qc_batch_path(plasmid_batch_qc_batch)
        %td= link_to 'Destroy', plasmid_batch_qc_batch, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plasmid batch qc batch', new_plasmid_batch_qc_batch_path
