%h1 Listing clone_batch_attachments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @clone_batch_attachments.each do |clone_batch_attachment|
      %tr
        %td= link_to 'Show', clone_batch_attachment
        %td= link_to 'Edit', edit_clone_batch_attachment_path(clone_batch_attachment)
        %td= link_to 'Destroy', clone_batch_attachment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clone batch attachment', new_clone_batch_attachment_path
