<% provide(:title, "Plasmid : Add batch(es)") %>

<div class="container well">
	<div class= "row">
		<div class="col-lg-9">
			<h5> Plasmid: <%= @clone_batch.name %> </h5>
		</div>
		<div class="col-lg-3">
			<h5> Number: <%= @clone_batch.number %> </h5>
		</div>
	</div>
</div>

		<div id="info-container" class="col-md-12" >
					<%= render :partial => "plasmid_batches/components/content_inventory", :locals => {:plasmid_batches => @plasmid_batches} %>
		</div>

