<% provide(:title, "Plasmid : Search") %>
<%= render :partial => 'clone_batches/components/cb_search' %>
<div class="row">
	<small>
	<div class="col-lg-3 col-lg-offset-9 text-right">
		<div id="display-hidden-container"> <%= render :partial => "clone_batches/components/toggle_display_hidden", :locals => { :option => @option } %> </div>	
	</div>
	</small>
</div>
<%= smart_listing_render :clone_batches %>
