%h1 Listing qc_attachment_sequencings

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @qc_attachment_sequencings.each do |qc_attachment_sequencing|
      %tr
        %td= link_to 'Show', qc_attachment_sequencing
        %td= link_to 'Edit', edit_qc_attachment_sequencing_path(qc_attachment_sequencing)
        %td= link_to 'Destroy', qc_attachment_sequencing, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Qc attachment sequencing', new_qc_attachment_sequencing_path
