		<div class="row">	
			<div class="col-sm-3">
				<%= link_to "Remove", [cb,qc], :method => :delete, :class =>"btn btn-danger btn-xs font80pc", :title=>"Remove clone from list.", :remote => true %>									
			</div>
			<div class="col-sm-1">
				<%= link_to "Edit", edit_clone_batch_clone_batch_qc_path(cb, qc), :class =>"btn btn-primary btn-xs font80pc", :title=>"Update clone's parameters." ,:remote => true %>
			</div>		
		<div>																			</small>
																								
