		<% if @assay.locked == true %>
			<% st = "Cloning locked" %>
		<%else%>
			<% st = "Cloning unlocked" %>
		<%end%>
		<%= simple_form_for @assay, url: lock_process_assay_path, :remote=> true do |f| %>
		  		<%= f.input :locked, :as => :boolean, :label =>false, :inline_label => st, :input_html => {:onclick => "$('#assay_locked*').submit();"}%>
		  		<span><small><em>Lock this assay to prevent any modification</em></small></span>
	  	
		<% end %>

