<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%=render 'boxes/components/search'%>
	</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div id="results" class="col-lg-4 col-md-4 col-sm-4">
		<%= smart_listing_render :boxes %>
		</div>
		<div id="results_vb" class="col-lg-4 col-md-4 col-sm-4">
		<%= smart_listing_render :virus_batches %>
		</div>
		<div id="map-container" class="col-lg-4 col-md-4 col-sm-4 text-center">
		</div>
	</div>
		
</div>
