<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%=render 'boxes/components/search'%>
	</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div id="results">
		<%=render partial: 'boxes/components/results'%>
		</div>
		<div  id="results_vb">
		<%=render partial: 'boxes/components/results_vb'%>
		</div>
	</div>
		
</div>
