<% provide(:title, "Production Manager") %>
	<div class="center" >
		<div class="row expl">
			
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<%= link_to 'New Production', new_production_path, :class => "btn info prod_btn" %> 
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3">
					<%= link_to 'Search', "#", :class => "btn info prod_btn" %> 
				</div>
				<div class="col-lg-8 col-md-8 col-sm-9 text-right">
					<%= link_to 'Push!', users_inform_production_path(@user), :class => "btn btn-success" %>
				</div>
			</div>
		</div>
		<% if @productions.empty?%>
			<p>No production to display</p>
		<%else%>
				<div class="row" id="production_todo">
						<%= render :partial => 'productions/components/production_mgr'%>
				</div>
		<%end%>
</div>
