<% provide(:title, "Production Manager") %>
<div class="row">
	<div class="col-xs-12">
	<h3>Production manager</h3>
</div>
</div>
<% unless @productions.empty?%>
<div class="container">
	<div class="row" >
		<div class="row expl">
			<% if can? :update_row_order, @productions %>
			<div class="row">
					<%= link_to 'New Production', new_production_path, :class => "btn info prod_btn" %> 
					<%= link_to 'Push message !', users_inform_production_path(@user), :class => "btn info prod_btn" %>
			</div>
				<div class="row">
					<div class= "col-lg-12 center">
						<p style="font-size: 1.2em;">Drag and drop from the bottom to the top the rows by priority level.</p>
					</div>
				</div>
			<%end%>
				<div class="row" id="production_todo">
					<small>
						<%= render :partial => 'productions/components/production_mgr'%>
					</small>
				</div>
		</div>
	</div>
<!-- -->
<div class="row">
	<h4>Production Gantt-chart :</h4>
		<div id='gantt-container' class="row">
			<% if Production.where.not("last_step < ? ", 0).any? %>
			<div class="col-lg-12 col-md-12 col-xs-12">
					<%= render :partial => "productions/components/production_gantt_chart", :locals => {:productions => @productions}  %>
			</div>
			<%end%>
		</div>
	</div>
		<%else%>
			<p>No production to display</p>
		<%end%>
	</div>

