<div class="panel panel-info">
	<div class="panel-heading">Create new Production</div>
	<div id="form_container">
		<%= render :partial=> "productions/components/form"%>
	</div>
</div>

<%= render 'components/modal'%>
