<div class="row">
	<div class="col-xs-12">
		<%button_label =  @production.plasmid_batches.nil? ? "Add" : "Modifify"%>
		<h3><%=button_label %> plasmid set</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<%= render 'productions/components/form_pb'%>
				</div>
			</div>
		</div>
	</div>
</div>