<div class="row">
	<div class="col-xs-12">
		<h3>Set volumes</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<%= render :partial => 'productions/components/form_pb_volume', :locals => {:production => @production}%>
				</div>
			</div>
		</div>
	</div>
</div>