<%= form_with(model: clone_sample, local: true) do |form| %>
  <% if clone_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clone_sample.errors.count, "error") %> prohibited this clone_sample from being saved:</h2>

      <ul>
        <% clone_sample.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
