%h1 Listing dosages

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @dosages.each do |dosage|
      %tr
        %td= link_to 'Show', dosage
        %td= link_to 'Edit', edit_dosage_path(dosage)
        %td= link_to 'Destroy', dosage, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dosage', new_dosage_path
