<div class="col-lg-4 col-md-4 col-sm-4">
<h4>Batches</h5>
<% unless @virus_batches.empty?%>
<table>
	<thead>
        <tr>
            <th>Name</th>
            <th>Barcode</th>
        </tr>
    </thead>
    <tbody>
    		<%@virus_batches.each do |vb|%>
    		<tr>
    			<td class="col-lg-6 col-md-6 col-sm-6">
    				<%=vb.name%>
    			</td>
    			 <td class="col-lg-6 col-md-6 col-sm-6">
    				<%=vb.barcode%>
    			</td>
		</tr>
		<%end%>
    </tbody>
</table>
<%= paginate @virus_batches %>
<%else%>
	<span>No sample to display</span>
<%end%>
</div