%h1 Listing clone_batch_sequencings

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @clone_batch_sequencings.each do |clone_batch_sequencing|
      %tr
        %td= link_to 'Show', clone_batch_sequencing
        %td= link_to 'Edit', edit_clone_batch_sequencing_path(clone_batch_sequencing)
        %td= link_to 'Destroy', clone_batch_sequencing, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clone batch sequencing', new_clone_batch_sequencing_path
