%h1 Listing pcr_colonies

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @pcr_colonies.each do |pcr_colony|
      %tr
        %td= link_to 'Show', pcr_colony
        %td= link_to 'Edit', edit_pcr_colony_path(pcr_colony)
        %td= link_to 'Destroy', pcr_colony, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pcr colony', new_pcr_colony_path
