<%= simple_form_for @project, remote: true, html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
	  	<!--Attention: la div form-group ui-front est indispensable au fonctionnement du champ autocomplete -->
			<div class="form-group ui-front">
				<div class="row">
						<div class="col-md-4">
							<%= f.input :name,
							:label => "Name"
							 %>
					 	</div>
				 </div>
 		<div class="btn-group" role="group" aria-label="...">
        	<%= f.submit("OK", :id => "add_btn", :class => "btn btn-default", :title => "Save the changes.") %>
        </div>
<%end%>


