<div class="row">
	<div class="col-xs-12">
		<h3>Edit primer #<%=@primer.id%></h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<%= render 'primers/components/form'%>
				</div>
			</div>
		</div>
	</div>
</div>