<% provide(:title, "Primers Inventory") %>
	<div class="row">
		<div class="col-lg-12">
			<h3><i class="fa_icon fa fa-search"></i> Primer Inventory</h3>
		</div>
	</div>
<%= render :partial => 'primers/primer_search' %>
 <%= smart_listing_render :primers %>
