%h1 Listing primers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @primers.each do |primer|
      %tr
        %td= link_to 'Show', primer
        %td= link_to 'Edit', edit_primer_path(primer)
        %td= link_to 'Destroy', primer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Primer', new_primer_path
