<%  provide(:title, "Primers Inventory") %>
<div class="container-fluid">  	
<div class="row">
	<div class="col-xs-12">
		<%= render :partial => 'primers/components/search' %>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 left">
            <%= link_to "New primer", new_primer_path, class: "btn btn-primary" %>
    </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= render partial: "primers/list_components/list", locals: {primers: @primers} %>
	</div>
</div>
</div>