%h1 Listing clone_projects

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @clone_projects.each do |clone_project|
      %tr
        %td= link_to 'Show', clone_project
        %td= link_to 'Edit', edit_clone_project_path(clone_project)
        %td= link_to 'Destroy', clone_project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clone project', new_clone_project_path
