%h1 Listing virus_batches

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @virus_batches.each do |virus_batch|
      %tr
        %td= link_to 'Show', virus_batch
        %td= link_to 'Edit', edit_virus_batch_path(virus_batch)
        %td= link_to 'Destroy', virus_batch, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Virus batch', new_virus_batch_path
