%h1 Listing clone_batch_options

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @clone_batch_options.each do |clone_batch_option|
      %tr
        %td= link_to 'Show', clone_batch_option
        %td= link_to 'Edit', edit_clone_batch_option_path(clone_batch_option)
        %td= link_to 'Destroy', clone_batch_option, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clone batch option', new_clone_batch_option_path
