.prod .current >a {
  background-color: #D9EDF7;
}

.prod_table>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #D9EDF7; 
 }
 
.prod_table, .prod_table th, .prod_table td{
   border-color: 5C8DB8 !important;
 }
 
.prod_btn { 
  background-color: #D9EDF7;
  }
  
.production-color {
  background-color: #EEF6FB;
}

.virus_production-color {
  background-color: #e7f5fe;
}

.project{
   width: 200px !important;
}

.fixed-panel {
  min-height: 300px;
  overflow-y: scroll;
}

.simple_form label {
  margin: 2px 10px;
}

.prod-bg-color{
  background-color: #E0F8E6!important;
}

.prod-bg-helper{
  background-color: #A9E2F3!important;
}

.prod-bg-transgene{
  background-color: #A9E2F3!important;
}

.prod-bg-capsid{
  background-color: #A9E2F3!important;
}
.plasmiddesign {
  color: $green;
}