				<% if @vps.empty? %>
					<div class="row">
						<div class="col-lg-12">
							<%= link_to 'Add virus', spawn_vp_new_production_path(:production_id =>@production.id), :class => "btn btn-success btn-sm  pull-right", :remote => true %>
						</div>
					</div>
				<%end%>
