<% if plasmid_batches.empty?%>
			<p>No plasmid batch to display</p>
<%else%>
<table class="table table-striped table-bordered" id="plasmid-batch-table">
			<thead>
				<th>Name</th>
				<th>Batch number</th>
				<th>Virus Production parameters</th>
				<th>Actions</th>
			</thead>
				<% plasmid_batches.each do |plasmid_batch| %>
					<tr>
						<td class="col-sm-3"><%= plasmid_batch.name %></td>
						<td class="col-sm-1 text-center"><%= plasmid_batch.id %></td>
						<td></td>
						<td class="col-sm-3 text-center">
								<%= link_to "Add Production", new_production_plasmid_batch_virus_production_path(@production, :plasmid_batch_id => plasmid_batch.id), :class =>"btn btn-primary btn-xs", :title=>"Update clone's parameters." ,:remote => true %>
								<%= link_to "Remove Production", "#", :class =>"btn btn-danger btn-xs", :title=>"Remove clone from list.", :confirm => "Do really want to remove this clone?", :remote => true %>
						</td>
					</tr>
				<% end %>
</table>
<% end %>
