<% if @production.plasmid_batches.exists?%>

	<%st = @production.pool? ? "Production from pooled plasmids." : "The plasmids are not pooled." %>
	
		<%= simple_form_for @production, url: production_pool_path(@production), html: { class: 'form-inline' }, :remote=> true do |f| %>
			<div class="form-group">
				<div class=" pull-right">
				<%=f.label st%>
		  		<%= f.input :pool, :as => :boolean, :label =>false, :input_html => {:onclick => "$('#production_pool*').submit();"}%>
		  		</div>
	  		</div>
		<%end%>

<%end%>
