%h1 Listing genes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @genes.each do |gene|
      %tr
        %td= link_to 'Show', gene
        %td= link_to 'Edit', edit_gene_path(gene)
        %td= link_to 'Destroy', gene, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gene', new_gene_path
