%h1 Listing plasmid_batch_qcs

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @plasmid_batch_qcs.each do |plasmid_batch_qc|
      %tr
        %td= link_to 'Show', plasmid_batch_qc
        %td= link_to 'Edit', edit_plasmid_batch_qc_path(plasmid_batch_qc)
        %td= link_to 'Destroy', plasmid_batch_qc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plasmid batch qc', new_plasmid_batch_qc_path
