<td class="center"><%= object.id%></td>
<td class="center"><%= object.name%></td>
<td class="actions center">
<%if object.clone_batches.nil?%>
	<%= smart_listing_item_actions [
	  	{name: :edit,    url: edit_promoter_path(object), title: "Edit"},
		{name: :destroy, url: promoter_path(object), title: "Destroy", :confirmation => "Are you sure you want to delete this?", :if => current_user.role="administrator"}
		]%>
<%else%>
		<%= smart_listing_item_actions [
	  	{name: :edit,    url: edit_promoter_path(object), title: "Edit"},
		]%>
<%end%>
</td>