%h1 Listing promoters

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @promoters.each do |promoter|
      %tr
        %td= link_to 'Show', promoter
        %td= link_to 'Edit', edit_promoter_path(promoter)
        %td= link_to 'Destroy', promoter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Promoter', new_promoter_path
