<% provide(:title, "Cloning Manager") %>
	<div class="center">
		<div class="row expl">
		<% if can? :update_row_order, @assays %>
			<% unless @assays.empty?%>
				<div class="row">
					<div class= "col-lg-12 pull-left">
						Drag and drop from bottom to top the rows by priority level.
					</div>
				</div>
			<%end%>
			
			<div class="row">
				<div class="col-lg-6 text-align-left">
					<%= link_to 'New cloning', assay_generator_assays_path , :class => "btn btn-primary" %>
				</div>
				<div class="col-lg-6">
					<%= link_to 'Push!', users_inform_cloning_path(@user) , :class => "btn btn-success" %>
				</div>
			</div>
		</div> 
		<%end%>
				<div class="row" id="mgr_info">
					<% if can? :update_row_order, @assays %>
						<%= render :partial => 'assays/components/assay_mgr' %>
					<%else%>
						<%= render :partial => 'assays/components/assay_mgr_b' %>
					<%end%>
				</div>
	</div>
