%h1 Listing enzymes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @enzymes.each do |enzyme|
      %tr
        %td= link_to 'Show', enzyme
        %td= link_to 'Edit', edit_enzyme_path(enzyme)
        %td= link_to 'Destroy', enzyme, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Enzyme', new_enzyme_path
