<div class="row">
	<div class="col-xs-12">
		<h3>New enzyme</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<%= render 'enzymes/components/form'%>
				</div>
			</div>
		</div>
	</div>
</div>