%h1 Listing plasmid_boxes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @plasmid_boxes.each do |plasmid_box|
      %tr
        %td= link_to 'Show', plasmid_box
        %td= link_to 'Edit', edit_plasmid_box_path(plasmid_box)
        %td= link_to 'Destroy', plasmid_box, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plasmid box', new_plasmid_box_path
