  <footer class="footer">
      <div class="col-lg-12 text-center">
          <ul class="">
              <li><a href="http://www.institut-vision.org/">Institut de la Vision - The HTS Platform - 2021</a></li>
              <li><%= link_to "About", '#' %></li>
              <li><%= link_to "Contact", 'mailto:marc.lechuga@inserm.fr' %></li>
          </ul>
          </div>
     </footer>